**Let's import relevant libraries**

In [1]:
import pandas as pd
import numpy as np

**I've prepared an excel file for the data and then used pandas library to read the data.**

**Wikipedia link: https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M**

In [2]:
df=pd.read_excel('data.xlsx')
df.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [3]:
df.describe()

       PostalCode       Borough  Neighborhood
count         180           180           180
unique        180            11           100
top           M3Z  Not assigned  Not assigned
freq            1            77            77

**We can see that we have 77 entries where Borough is 'Not assigned'.**

**Let's remove it as guided.**

In [4]:
df.Borough.replace('Not assigned', np.NAN, inplace=True)

In [5]:
df.isna().sum()

PostalCode       0
Borough         77
Neighborhood     0
dtype: int64

**When you are sure about dropping nulls, you must reset the indexes for letter concatinations.**

In [6]:
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
df.head(15)

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
6,M1B,Scarborough,"Malvern, Rouge"
7,M3B,North York,Don Mills
8,M4B,East York,"Parkview Hill, Woodbine Gardens"
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."
12,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
13,M3C,North York,Don Mills
14,M4C,East York,Woodbine Heights

**Let's check if we have multiple entries for one Postal Code.**

In [7]:
df.PostalCode.nunique()

103

In [8]:
df.shape

(103, 3)

**As the shape of dataframe and number of unique values of Postal Codes are same, we can say that we do not have any multiple entries for a Postal Code.**

**Now as guided, let's check for any 'Not assigned' value present in Neighbourhood column.**

In [10]:
temp = df.Neighborhood[(df.Neighborhood=='Not assigned')].count()
temp

0

**As we can see, now our dataframe is ready for next part of the assignment.**

**Lastly, let's print the shape of current dataframe.**

In [11]:
df.shape

(103, 3)

In [12]:
df.to_csv('data_preprocessed_1.csv',index=False)